/*div{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    /*padding: 50px;padiing only left and right not on top and botoom same for margin also
    margin:5px;
    display: inline-block;
}*/
span{
    
    border: 2px solid black;
    height: 100px;
    width: 100px;
    padding: 50px;/*padiing only left and right not on top and botoom same for margin also*/
    margin:20px;
}
h1{
    border: 2px solid black;
    width: 25%;
}
#outer{
    height: 400px;
    width: 400px;
    background-color: pink;
    font-size: 20px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color:cornflowerblue;
    font-size: 1em;
    padding: 2em;
}
button{
    font-size: 100px;
    border: 5px solid green;
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 20px;
    margin: 10px ;

}