div{
    border: 2px solid black;
    height: 200px;
    width: 200px;
    /*padding: 50px;padiing only left and right not on top and botoom same for margin also*/
    margin:5px;
    display: inline-block;
}
span{
    
    border: 2px solid black;
    height: 100px;
    width: 100px;
    padding: 50px;/*padiing only left and right not on top and botoom same for margin also*/
    margin:20px;
}
