div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width: 10px;
    border-style: double;
    border-color: black;
    /*border-left-color: yellowgreen;
    border-left-style: solid;
    border-top: 10px dashed green;
    border-radius: 45px;
    border-top-right-radius: 100px;*/
    border-radius: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px 35px;
}
h1{
    border-width: 5px;
    border-style: dotted;
    border-color: brown;
    margin: 0;
}
button{
    border: 5px solid black;
    border-radius: 50%;
    padding: 0px 50px 25px 50px;
    color: antiquewhite;
    background-color: blueviolet;
    

}