h3{
    background-color: aquamarine !important;
}
*{
    font-family: 'Courier New';
    
}
h1,h3{
    color: #b92b27;
}
#Login{
    background-color: white;
}
#Signup{
background-color: #b92b27;
color: white;
}
.upvote{
background-color: green;
color: aliceblue;

}
div[id="myid"] p{
    color: green;
}
/*descendent selector*/
.post a{
     color: rgb(0,0,0);
     background-color:red;
}

nav a{
    color: hotpink;
}
p+h3{
    text-decoration: underline;
}
.upvote +button{
    background-color: aquamarine;
    color: darkblue;

}
div>input{
    background-color: darksalmon;
}
/*Attribute selector*/
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}
input[type]{
    color: ghostwhite;
} 
button:hover{
    background-color: black;
}
h3:hover{
    text-decoration: overline;
}
button:active{
    background-color: pink;
    color: #b92b27;
}
input[type="radio"]:checked+label{
    color: red;
    font-weight: bold;

}
.post:nth-of-type(1n){
    background-color: #b92b27;
}
h1::first-letter{
    color: #b258b227;
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: rgb(224, 30, 65);
}
h3{
    background-color: yellow;
}
h3{
    background-color: blue;
}